@font-face {
  font-family: 'Gilroy Ultralight';
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
    url('../assets/fonts/Gilroy-UltraLight.woff2'), url('../assets/fonts/Gilroy-UltraLight.eot');
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy Light';
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../assets/fonts/Gilroy-Light.woff2'),
    url('../assets/fonts/Gilroy-Light.eot');
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: local('Gilroy Regular'), local('Gilroy-Regular'), url('../assets/fonts/Gilroy-Regular.woff2'),
    url('../assets/fonts/Gilroy-Regular.eot');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: local('Gilroy Medium'), local('Gilroy-Medium'), url('../assets/fonts/Gilroy-Medium.woff2'),
    url('../assets/fonts/Gilroy-Medium.eot');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: local('Gilroy Bold'), local('Gilroy-Bold'), url('../assets/fonts/Gilroy-Bold.woff2'),
    url('../assets/fonts/Gilroy-Bold.eot');
  font-weight: 700;
}

@font-face {
  font-family: 'Caveat';
  src: local('Caveat-Bold'), local('Caveat Bold'), url('../assets/fonts/Caveat-Bold.eot'),
    url('../assets/fonts/Caveat-Bold.woff2');
}
