.main-page {
  background-color: var(--gray);
  overflow: hidden;
}

.main-page__wrapper {
  height: 100%;
}

.main-page__title {
  margin: 20px 0;
  color: var(--ocean);
  font-family: 'Caveat', 'Gilroy Regular', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.main-page__image {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 250px;
  background: no-repeat url('../assets/images/eng.jpg') 50% 50% / cover;
}

@media screen and (min-width: 600px) {
  .main-page__image {
    height: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .main-page__image {
    height: 500px;
  }
}

@media screen and (min-width: 1750px) {
  .main-page__image {
    height: 650px;
  }
}

.main-page__text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
}
