.textbook-page__main-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.textbook__group-nav {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  max-width: 120px;
  border: 1px solid green;
}

.group-nav__button {
  width: 100%;
  min-height: 40px;
}

.textbook__word-box {
  position: relative;
  padding: 5px;
  width: 40%;
}

.textbook__words-page {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 35%;
  border: 1px solid blue;
}

.words-page__words {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}

.words-page__word {
  width: 45%;
  min-height: 30px;
  font-size: 1.1rem;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
}

.textbook__word-box {
  display: flex;
  flex-wrap: wrap;
}

.word__image {
  position: relative;
  top: -5px;
  left: -5px;
  width: 60%;
  min-height: 150px;
  height: 30%;
  border: 1px solid red;
  border-bottom-right-radius: 50%;
}

.word__main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 40%;
  height: 145px;
  border: 1px solid green;
}

.word__audio {
  display: block;
  border: 1px solid red;
  width: 80%;
  height: 40px;
  cursor: pointer;
}

.word__sub-text {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
}

.textbook-page__page-nav {
  display: flex;
  justify-content: space-between;
}

.page-nav__button_current-page {
  background-color: blue;
}
