@import url('styles/fonts.css');
@import url('styles/header.css');
@import url('styles/navigation.css');
@import url('styles/textbook.css');
@import url('styles/sprint.css');
@import url('styles/statistics.css');
@import url('styles/audiocall.css');
@import url('styles/about.css');

:root {
  --ocean: #223745;
  --sky: #95a8ac;
  --gray: #ecebe2;
  --hacki: #a8a194;
  --sand: #e0d2b4;
  --rose: #e4c9b4;
  --plum: #a67f78;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy Regular', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.button {
  display: block;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 95vw;
  width: calc(100vw - 20px);
  border: 1px solid red;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(100vw - 20px);
  }
}

.page {
  flex: 1 0 auto;
  padding-top: 120px;
}

.invisible {
  opacity: 0;
}

.form-block {
  margin: 100px 0;
}

.form-block__item {
  width: 300px;
  border: 2px solid rgb(36, 34, 34);
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
}

.formregistr {
  width: 190px;
  margin: 0 auto 15px auto;
}

.formsigin,
.logoff {
  width: 80px;
  margin: 0 auto 15px auto;
}
