@import url('styles/fonts.css');
@import url('styles/textbook.css');
@import url('styles/sprint.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy Regular', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

.button {
  display: block;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: calc(100vw - 50px);
}

.invisible {
  opacity: 0;
}
